body {
  font-family: Georgia, serif;
  color: #111; }

h2 {
  text-align: center; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

.ov {
  overflow: hidden; }

.db {
  display: block; }

#fullpageMenu {
  position: fixed;
  z-index: 2;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-top: 10px; }
  #fullpageMenu li {
    float: left; }
    #fullpageMenu li a {
      display: inline-block;
      width: 150px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 0 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.5);
      transition: all .3s; }
      #fullpageMenu li a:hover {
        background-color: rgba(255, 255, 255, 0.8); }
  #fullpageMenu .active a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); }
    #fullpageMenu .active a:hover {
      color: #000; }

.self-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin: 0 40px;
  border-radius: 100%;
  opacity: .9;
  border: 1px solid #ccc;
  padding: 3px;
  box-sizing: border-box; }
  .self-img img {
    width: 100%;
    border-radius: 100%; }

.tech {
  max-width: 600px;
  margin: 0 auto; }
  .tech .circle {
    float: left;
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    position: relative; }
    .tech .circle strong {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 30px; }
      .tech .circle strong i {
        font-style: normal;
        font-size: .6em;
        font-weight: normal; }
    .tech .circle span {
      display: block;
      margin-top: 12px; }

.center {
  text-align: center; }

#about-me {
  opacity: 0; }

#skills {
  opacity: 0; }

.personal-info {
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto; }
  .personal-info .fa {
    width: 28px;
    text-align: center; }

.fa-thumbs-o-up {
  font-size: 35px;
  width: 40px; }

.awwwards, .jsjquery, .htmlcss {
  width: 100%;
  height: 100vh; }

.flex {
  display: flex; }

#works .taobao {
  background: url(../images/taobao.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  opacity: .8; }
#works .col-md-3 {
  padding: 3px; }

.loader--spinningDisc {
  border: solid 0.5em #9b59b6;
  border-right-color: transparent;
  border-left-color: transparent;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #3498db;
  background-clip: content-box;
  animation: spinDisc 1.5s linear infinite;
  z-index: -1;
  margin: 0 auto; }

@keyframes spinDisc {
  50% {
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    background-color: #2ecc71; }
  100% {
    transform: rotate(1turn); } }
#problem-solver {
  position: absolute;
  background: url(../images/problemsolver.png) no-repeat; }

.top-down {
  position: absolute;
  -webkit-animation: arrow;
  animation: arrow;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 99;
  bottom: 5.5%;
  left: 50%;
  width: 47px;
  height: 26px;
  margin-left: -23px;
  background: url(../images/arrow-down.png) 50% 0 no-repeat; }

@-webkit-keyframes arrow {
  0%, 100%, 88%, 94% {
    bottom: 3.5%; }
  91%,
    97% {
    bottom: 1.5%; } }
@keyframes arrow {
  0%, 100%, 88%, 94% {
    bottom: 3.5%; }
  91%,
    97% {
    bottom: 1.5%; } }

/*# sourceMappingURL=style.css.map */
