body {
    font-family: Georgia, serif;
    color: #111;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.ov {
    overflow: hidden;
}

#fullpageMenu {
    position: fixed;
    z-index: 2;
    color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    li {
        float: left;
        a {
            display: inline-block;
            width: 150px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin: 0 10px;
            border-radius: 10px;
            background: rgba(255,255,255, 0.5);
            transition: all .3s;
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    .active {
        
        a {
        	color: #fff;
            background-color: rgba(0,0,0, 0.5);
            &:hover {
            	color:#000;
            }
        }

    }
}

.self-img {
	width: 150px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin: 0 40px;
    border-radius: 100%;
    opacity: .9;
        border: 1px solid #ccc;
        padding:3px;
        box-sizing:border-box;
	img {
		width: 100%;
        border-radius: 100%;

	}
}

.tech {
    max-width: 600px;
    margin:0 auto;
	.circle {
    float: left;
    width: 100px;
    margin: 6px 6px 20px;
    display:inline-block;
    text-align: center;
    line-height: 1.2;
    position: relative;
    strong {
        position: absolute;
        top:30px;
        left:0;
        width:100%;
        text-align: center;
        font-size: 30px;
        i{
            font-style: normal;
            font-size: .6em;
            font-weight: normal;
        }
    }
    span {
        display: block;
        margin-top: 12px;
    }
}
}

.center {
    text-align: center;
}

// #about-me {
//     opacity:0;
// }
// #skills {
//     opacity:0;
// }

.personal-info {
    min-width: 300px;
    max-width: 400px;
    margin:0 auto;

    .fa {
        width: 28px;
        text-align: center;
    }
}

.fa-thumbs-o-up {
    font-size: 35px;
    width: 40px;
}