body {
  font-family: Georgia, serif;
  color: #111;
  line-height: 1.2; }

p {
  margin: 10px 0; }

h3 {
  margin-top: 0;
  padding-top: 20px; }

h2 {
  text-align: center; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

* {
  box-sizing: border-box; }

.container {
  width: 100%; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-md-6,
.col-md-2,
.col-md-3,
.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left; }

.col-md-6 {
  width: 50%; }

.col-md-2 {
  width: 16.66666667%; }

.col-md-4 {
  width: 33.33333333%; }

.col-md-3 {
  width: 25%; }

#works .col-md-2 {
  height: 100vh; }

.ov {
  overflow: hidden; }

.db {
  display: block; }

.br50 {
  border-radius: 50%;
  overflow: hidden; }

.tac {
  text-align: center; }

.xycenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.scale {
  transform: scale(1.1); }

.btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  line-height: 50px;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3); }
  .btn:hover {
    opacity: .7; }

#fullpage,
.section,
.container {
  min-width: 1200px; }

#fullpageMenu {
  position: fixed;
  z-index: 2;
  color: #000;
  top: 0;
  left: 0;
  width: 100%; }
  #fullpageMenu a {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    transition: all .3s; }
    #fullpageMenu a:hover {
      background-color: rgba(255, 255, 255, 0.8); }
  #fullpageMenu .active a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); }
    #fullpageMenu .active a:hover {
      color: #000; }

.self-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin: 0 40px;
  border-radius: 100%;
  opacity: .9;
  border: 1px solid #ccc;
  padding: 3px;
  box-sizing: border-box; }
  .self-img img {
    width: 100%;
    border-radius: 100%; }

.tech {
  max-width: 600px;
  margin: 0 auto; }
  .tech .circle {
    float: left;
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    position: relative; }
    .tech .circle strong {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 30px; }
      .tech .circle strong i {
        font-style: normal;
        font-size: .6em;
        font-weight: normal; }
    .tech .circle span {
      display: block;
      margin-top: 12px; }

#about-me, #skills {
  opacity: 0; }

.personal-info {
  min-width: 350px;
  max-width: 450px;
  margin: 0 auto; }
  .personal-info .fa {
    width: 28px;
    text-align: center; }

.fa-thumbs-o-up {
  width: 40px; }

.flex {
  display: flex; }

#works {
  height: 100vh;
  overflow: hidden;
  background-size: cover; }
  #works .col-md-4 {
    padding: 3px;
    height: 100vh; }
  #works .awwwards,
  #works .taobao {
    width: 100%;
    height: 100%;
    transition: all .6s; }
  #works .knowledge {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    line-height: 1.4; }
  #works .art {
    top: 25%; }
    #works .art img {
      width: 250px;
      height: 250px;
      animation: rotate 20s infinite linear;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  #works .hand {
    width: 150px;
    height: 250px;
    z-index: 1;
    background: #3EA0E9;
    position: absolute;
    top: 50%; }
  #works .hand--right {
    left: 3px;
    transform: skew(30deg) rotate(30deg) translateY(-50%); }
  #works .hand--left {
    right: 3px;
    transform: skew(-30deg) rotate(-30deg) translateY(-50%); }
  #works .weapon {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #221713;
    z-index: 3;
    text-align: center;
    transition: color .5s; }
    #works .weapon:hover {
      color: #79A3AF; }
  #works .create-by-hands {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 69%; }
    #works .create-by-hands img {
      width: 100%;
      animation: scale 10s infinite linear;
      height: 100vh; }

@keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.08); }
  100% {
    transform: scale(1); } }
.loader--spinningDisc {
  border: solid 0.5em #9b59b6;
  border-right-color: transparent;
  border-left-color: transparent;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #3498db;
  background-clip: content-box;
  animation: spinDisc 1.5s linear infinite;
  z-index: -1;
  margin: 0 auto; }

@keyframes spinDisc {
  50% {
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    background-color: #2ecc71; }
  100% {
    transform: rotate(1turn); } }
.top-down {
  position: absolute;
  -webkit-animation: arrow;
  animation: arrow;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 99;
  bottom: 5.5%;
  left: 50%;
  width: 47px;
  height: 26px;
  margin-left: -23px;
  background: url(../images/arrow-down.png) 50% 0 no-repeat; }

@-webkit-keyframes arrow {
  0%,
    100%,
    88%,
    94% {
    bottom: 3.5%; }
  91%,
    97% {
    bottom: 1.5%; } }
@keyframes arrow {
  0%,
    100%,
    88%,
    94% {
    bottom: 3.5%; }
  91%,
    97% {
    bottom: 1.5%; } }
#roads {
  background: url(../images/map-light.jpg) center center; }
  #roads .foot {
    height: 50vh;
    background-color: #fff;
    text-align: center;
    border-radius: 0 0 30px 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); }
    #roads .foot img {
      width: 80%;
      border-radius: 50%; }
  #roads .step--left {
    animation: step infinite 2s; }
  #roads .step--right {
    animation: step infinite 2s 1s; }
  #roads .walk {
    position: absolute;
    top: 65%;
    left: 10%;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 20s 2s linear;
    color: #333;
    font-size: 20px;
    font-weight: bolder; }
    #roads .walk .maker {
      width: 200px;
      height: 200px;
      position: relative;
      z-index: 3;
      vertical-align: middle; }
    #roads .walk .walk-pic {
      position: absolute;
      left: 0;
      top: 0;
      transition: left linear 20s 2.6s;
      z-index: 2; }
    #roads .walk .problemsolver {
      position: relative;
      z-index: 3;
      vertical-align: middle; }
  #roads .takeuph {
    height: 100vh; }

#problem-solver {
  position: absolute;
  background: url(../images/problemsolver.png) no-repeat; }

.come-on-to-meet-me {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 25px;
  color: #333;
  opacity: 0;
  transition: opacity 2s; }

.fa-hand-o-right {
  animation: vertical-shake 2s infinite; }

@keyframes step {
  0% {
    height: 50vh; }
  50% {
    height: 55vh; }
  100% {
    height: 50vh; } }
@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@keyframes vertical-shake {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(20%); }
  100% {
    transform: translateX(0); } }
@media (max-width: 1200px) {
  #fp-nav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
