<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>DoubiMike's Website</title>
	<link rel="stylesheet" href="/static/cv/css/style.css">
</head>
<body>
	<h1>{{label}}</h1>
	<img src="/static/cv/images/me.jpg" alt="">
	<h2>关于我</h2>
	<p>张航</p>
	<p>90年生</p>
	<p>本科 国贸专业</p>
	<p>18611210114</p>
	<p>doubimike@qq.com</p>
</body>
</html>